.create__Schedules {
    display: flex;
    flex-direction: column;
    margin: 30px 20px;
    align-items: center;
}

.create__Schedues__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    width: 50%;
    min-width: 424px;
    padding: 10px 20px
}

.create__Schedules__cell__s {
    width: 60px;
    text-align: center;
}

.create__Schedules__cell__m {
    width: 80px;
    text-align: center;
}