.scheduleForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    min-width: 424px;
    padding: 10px 20px
}

.schedules__cell__s {
    width: 60px;
    text-align: center;
}

.schedules__cell__m {
    width: 80px;
    text-align: center;
}

.input {
    width: 60px;
}