.create__Schedules {
    display: flex;
    flex-direction: column;
    margin: 30px 20px;
    align-items: center;
}

.create__Schedues__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    width: 50%;
    padding: 10px 20px
}