.create__Schedules {
    display: flex;
    flex-direction: column;
    margin: 30px 20px;
    align-items: center;
}

.create__Schedues__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    width: 50%;
    min-width: 424px;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 18px;
}

.create__Schedules__cell__s {
    width: 60px;
    text-align: center;
}

.create__Schedules__cell__m {
    width: 80px;
    text-align: center;
}

.addButton {
    width: 45px;
    height: 45px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px #ccc;
    background-color: #ffc0cb;
    margin: 15px;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
}