.tour__card {
    width: 366px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px #ccc;
    background-color: #ffc0cb;
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.tour__cardTitle {
    padding: 10px;
    font-weight: 500;
    font-size: 17px;
}

.tour__cardContent {
    padding: 10px 0px;
    margin: auto;
    font-size: 14px;
}

.tour__card:hover {
    cursor: pointer;
}