.tour_calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 7px;
    grid-row-gap: 7px;
    width: 100%;
    height: 40%;
}